* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Can't licence SegoePro and Segoe UI */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #0645AD;
    text-decoration: none;
}

h1 {
	font-weight: normal;
    font-size: 1.5em;
    margin-right: 15px;
}

/* TOP */

.top {
	display: block;
    margin: 0 auto;
	max-width: 1000px;
}

.top-list {
	display: flex;
	align-items: center;
    justify-content: flex-start;
	list-style-type: none;
	margin-bottom: 15px;
}

.top-logo { 
    max-width: 80px;
    margin: 15px 0 -10px 0;
}

.top a {
	font-weight: normal;
    font-size: 0.7em;
    margin-right: 15px;
}

.top-nav a {
	font-weight: normal;
    font-size: 0.8em;
    margin-right: 40px;
    color: black;
    z-index: 2;
}

/** Stretching space between elements in top section **/
.stretch {
    flex-grow: 2;
}

/* Dropdown */
/* Dropdown button */
.top-list-dropdown .dropbtn {
  font-size: 0.7em; 
  color: #0645AD;
  background-color: white;
  border: none;
  outline: none;
  padding: 14px 16px;
  margin: 0;
}

.fa {
	color: black;
}

/* Dropdown content (hidden by default) */
.top-list-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.top-list-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.top-list-dropdown:hover .top-list-dropdown-content {
  display: block;
}

/* Search box */
.search-container {
    border: solid;
    border-color: #d3d3d3;
    border-width: thin;
    font-size: 0.8em;
    min-width: 280px;
    min-height: 16px;
}

.search-container-input {
	border: none;
	margin-left: 5px;
	min-width: 240px;
}

.search-container-button {
	border: none;
	float: right;
	vertical-align: middle;
	margin: 0 5px 0 0;
	background-color: white;
}


/* Hero banner */

.hero-banner {
	width: 100%;
	margin-top: -46px;
	margin-bottom: -5px;
}

.hero-centered {
	font-size: 8em;
	font-weight: bold;
	color: white;
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-smaller {
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-yak {
	width:300px;
    height: auto;
	position: absolute;
    top: 57%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* Content */

.content {
	background-color: #f5f5f5;
	max-height: 1110px;
}

.content-wrapper {
	width: auto;
    height: auto;
	position: relative;
    left: 50%;
    transform: translate(-50%, -10%);
}

.content-row {
	text-align: center;
	max-height: auto;
}

.content-box {
	display: inline-block;
	background-color: white;
	max-width: 350px;
	max-height: auto;
	margin: 8px;
}

.content-label {
	display: inline-block;
	float: left;
	font-size: 0.8em;
	color: white;
	background-color: #5c2d91;
	padding: 3px 8px;
	margin: 15px 0px 0px 20px;
}

.content-perex {
	display: inline-block;
	float: left;
	text-align: left;
	min-height: 80px;
	max-width: 305px;
	font-size: 0.8em;
	margin: 10px 0px 0px 20px;
	padding-left: 3px;
	text-overflow: ellipsis;
}

.content-box img {
	max-width: 310px;
	max-height: auto;
	margin-bottom: 15px;
}


.content-button a {
	display: inline-block;
	text-align: center;
	background-color: #5c2d91;
	color: white;
	min-width: 720px;
	min-height: 40px;
	line-height: 40px;
	font-size: 0.8em;
	margin: 10px 0px 40px 0px;
}

/** Aboout yak **/

.yak {
	margin-top: -100px;
	margin-bottom: 30px;
	text-align: center;
}

.yak-wrapper {
	display: inline-block;
	min-width: 720px;

	}

.yak-img {
	float: left;
}

.yak-img img {
	width: 200px;
}

.yak-text {
	color: black;
	text-align: left;
	max-width: 450px;
	margin-left: 35%;
}

.yak-text h2 {
	color: #5c2d91;
	margin-bottom: 10px;
}

.yak-text p {
	font-size: 0.8em;
}

.yak-button {
	margin-top: 25px;
}

.yak-button a {
	background-color: #5c2d91;
	color: white;
	font-size: 0.8em;
	padding: 8px 15px;
}

/** Banners **/

.banners {
	background-color: #5c2d91;
	min-height: 240px;
	text-align: center;
}

.banners-wrapper {
	display: inline-block;
	width: 720px;
	height: 140px;
	margin-top: 40px;
	background-color: #5c2d91;
}

.banner-box {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}

.banner-box img {
	width: 230px;
}

.banner-box p {
	font-size: 0.8em;
	color: #5c2d91;
	line-height: 40px;
}

/** Contacts **/

.contact {
	background-color: white;
	min-height: 180px;
	text-align: center;
}

.contact-wrapper {
	display: inline-block;
	width: 720px;
	height: 120px;
	margin-top: 40px;
	background-color: white;
}

.contact-box {
	float: left;
	background-color: white;
	width: 550px;
}

.contact-wrapper h2 {
	color: #5c2d91;
	margin-bottom: 10px;
	text-align: left;
}

.contact-wrapper p {
	color: black;
	font-size: 0.8em;
	text-align: left;
}

.contact-wrapper img {
	width: 60px;
	margin: 10px;
}


/** Footer **/

.footer {
	background-color: #f5f5f5;
	height: 500px;
	text-align: center;
}

.footer-wrapper {
	display: inline-block;
	width: 720px;
	height: 300px;
	margin-top: 40px;
	background-color: #f5f5f5;
}

.footer-box {
	float: left;
	text-align: left;
	background-color: #f5f5f5;
	width: 180px;
	height: 350px;
}

.footer-box ul {
	list-style-type: none;
}

.footer-box img {
	float: left;
	width: 20px;
	margin-right: 10px;
}

.footer-box p {
	font-size: 0.7em;
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer-box-link {
	font-size: 0.7em;
	margin-bottom: 10px;
}

.footer-box-logo-wrapper {
	display: inline-block;
	width: 720px;
	height: 15px;
	background-color: #f5f5f5;
}

.footer-box-logo-wrapper img {
	float: right;
	width: 70px;
}

.footer-list {
	width: 720px;
}

.footer-list li{
	display: inline;
	list-style-type: none;
	font-size: 0.7em;
	line-height: 20px;
}
















