* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Can't licence SegoePro and Segoe UI */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #0645AD;
    text-decoration: none;
}

h1 {
	font-weight: normal;
    font-size: 1.5em;
    margin-right: 15px;
}

/* TOP */

.top {
	display: block;
    margin: 0 auto;
	max-width: 1000px;
}

.top-list {
	display: flex;
	align-items: center;
    justify-content: flex-start;
	list-style-type: none;
	margin-bottom: 15px;
}

.top-logo { 
    max-width: 80px;
    margin: 15px 0 -10px 0;
}

.top a {
	font-weight: normal;
    font-size: 0.7em;
    margin-right: 15px;
}

.top-nav a {
	font-weight: normal;
    font-size: 0.8em;
    margin-right: 40px;
    color: black;
}

/** Stretching space between elements in top section **/
.stretch {
    flex-grow: 2;
}

/* Dropdown */
/* Dropdown button */
.top-list-dropdown .dropbtn {
  font-size: 0.7em; 
  color: #0645AD;
  background-color: white;
  border: none;
  outline: none;
  padding: 14px 16px;
  margin: 0;
}

.fa {
	color: black;
}

/* Dropdown content (hidden by default) */
.top-list-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.top-list-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.top-list-dropdown:hover .top-list-dropdown-content {
  display: block;
}

/* Search box */
.search-container {
    border: solid;
    border-color: #d3d3d3;
    border-width: thin;
    font-size: 0.8em;
    min-width: 280px;
    min-height: 16px;
}

.search-container-input {
	border: none;
	margin-left: 5px;
	min-width: 240px;
}

.search-container-button {
	border: none;
	float: right;
	vertical-align: middle;
	margin: 0 5px 0 0;
}


/* Hero banner */

.hero {
	border-top: 5px solid #f9f9f9;
}

.hero-banner {
	width: 100%;
	margin-top: -46px;
}

.hero-centered {
	font-size: 8em;
	font-weight: bold;
	color: white;
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-smaller {
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-yak {
	width:300px;
    height: auto;
	position: absolute;
    top: 57%;
    left: 70%;
    transform: translate(-50%, -50%);
}



